/*
  Colors
*/

$colors__general_lightest:                  #FFF;
$colors__general_light:                     #FDFDFD;

$colors__background-default:                #FFF;

//$colors__background-1:                      #A593E0;
//$colors__background-2:                      #E0E3DA;
//$colors__background-3:                      #FFFFF3;
//$colors__background-4:                      #566270;

$colors__background-1:                      #C5E99B;
$colors__background-2:                      #8FBC94;
$colors__background-3:                      #548687;
$colors__background-4:                      #56445D;

$colors__typography-default:                #333;
$colors__typography-link:					#333;


/*
  Borders
*/

$borders__thin-default: 1px solid black;

/*
  Typography
*/


/* Font families */

$typography-default: "Open Sans";

/* Font weights */

$font-weight__thin: 300;
$font-weight__normal: 400;
$font-weight__bold: 600;

